<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="RSEditor"
            extensions="rsl"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="rseditor.editors.RSEditor"
            id="rseditor.editors.RSEditor">
      </editor>
   </extension>

</plugin>
